<div class="container">
  <form [formGroup]="formularioAnimal" class="row" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else previewImage">
        <button
          type="button"
          (click)="fileInput.click()"
          class="btn btn-primary">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input #fileInput type="file" hidden formControlName="file" accept="image/*" (change)="gravaArquivo($event.target)" />
        <app-mensagem mensagem="Por favor selecione a foto" *ngIf="!!formularioAnimal.get('file')?.errors?.maxLength"></app-mensagem>
      </div>
      <ng-template #previewImage>
        <app-animal [url]="preview" title="Preview"></app-animal>
      </ng-template>
    </div>
  </form>
</div>
